<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= h(msg(:page_title, nil) || msg(:title, "Login to Himari")) %></title>
    <link rel="stylesheet" href="/public/index.css?cb=<%= cachebuster %>" type="text/css" />
    <meta name="viewport" content="initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <meta name="himari:release" content="<%= release_code %>">
  </head>

  <body class='himari-app himari-login'>
    <main>

      <header>
        <h1><%= msg(:title, "Login to Himari") %></h1>
        <%= msg(:header) %>

        <% if @notice %>
          <div class='notice'>
            <p><%=h @notice %></p>
          </div>
        <% end %>
      </header>

      <nav class='actions'>
        <fieldset id='actions-fieldset'>
          <% known_providers.each do |provider| %>
            <form action="<%= provider.action %>" method="POST" class="provider-<%= provider.name %>">
              <input type="hidden" name="<%= csrf_token_name %>" value="<%= csrf_token_value %>" />
                <button type='submit'><%= provider.button %></button>
            </form>
          <% end %>
        </fieldset>
      </nav>

      <footer>
        <%= msg(:footer) %>
      </footer>
    </main>

    <script type='text/javascript'>
      const fieldset = document.getElementById('actions-fieldset');
      document.querySelectorAll('.actions-fieldset form').forEach((v) => {
        v.addEventListener('submit', () => {
          fieldset.disabled = true;
        });
      });
    </script>
  </body>
</html>

